<!DOCTYPE html>
<html>
<head>
    <title>PROFILE</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
   
    <nav class="navbar">
        <ul class="link-group">
            <li class="link">
                <a href="home.html">HOME</a>
            </li>
            
            <li class="link">
                <a href="about.html">ABOUT US</a>
            </li>
            
            <li class="link">
                <a href="login.html">LOGIN</a>
            </li>
            <li class="link ">
                <a href="signup.html">SIGNUP</a>
            </li>
            <a href="profile.html">
                <i class='fa fa-user' id="profile"></i>
            </a>
        </ul>
    </nav>
    <div id="details">
        <div>
           <img id="im" src="images/flower.jpg">
        </div>
        <form action="profile" method="post" id="mytable">
        <img id="image" src="images/profile.jpg">
        <%customersList.forEach( customer=> {%>
            
            <p><span><%= customer.name %></span></p>
            <p><span><%=customer.mail %></span></p>
            <p> <span><%=customer.password %></span></p>
            <p><span><%= customer.contact %></span></p>
            <a href="/update" class="btn">Edit Profile</a>
          
</form>
<%})%> 
    </div>
   

</body>
</html>

 <!--  
       <table id="mytable">
        <tr >
                <td>UserName</td>
                <td><p>Gayathri</p></td>
            </tr>
            <tr>
                <td>Email Id</td>
                <td><p>gayu@gmail.com</p></td>
             </tr>
             <tr>
                <td>PhoneNo</td>
                <td><p>8097653421</p></td>
             </tr>
        </table>-->